datacube>=1.8.4.dev
datacube-stats>=1.0.2
fc>=1.3.4
odc_algo>=0.2.dev
odc_ui>=0.2.dev
odc_index>=0.2.dev
odc_aws>=0.2.dev
odc_geom>=0.2.dev
odc_io>=0.2.dev
odc_aio>=0.2.dev
odc_ppt>=0.2.dev
odc_dscache>=0.2.dev
odc_dtools>=0.2.dev
odc_stats>=0.2.dev
odc-apps-dc-tools>=0.2.dev
odc-apps-cloud>=0.2.dev
hdstats>=0.2.1
