# misc
access==1.1.3
absl-py==0.13.0
affine==2.3.0
aiobotocore==1.3.0
aiohttp==3.7.4.post0
alabaster==0.7.12
async-timeout==3.0.1
aioitertools==0.7.1
attrs==21.2.0
boto3==1.17.49
botocore==1.20.49
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
cloudpickle==1.6.0
colorama==0.4.3
decorator==4.4.2
dill==0.3.4
docutils==0.15.2 # because of botocore
ffmpeg-python==0.2.0
geographiclib==1.52
imageio==2.9.0
Jinja2==3.0.1
joblib==1.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
opencv-contrib-python==4.5.2.54
opencv-contrib-python-headless==4.5.2.54
opencv-python-headless==4.5.2.54
networkx==2.5
msgpack==1.0.0
multidict==5.1.0
multipledispatch==0.6.0
multiprocess==0.70.12.2
param==1.10.1
partd==1.2.0
packaging==20.9
protobuf==3.17.3
psutil==5.8.0
pydash==5.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.0  # pinned because of pysal==2.2.0
pytz==2021.1
pyyaml==5.4.1
quantecon==0.5.1
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.4
s3fs==2021.6.1
tqdm==4.56.0
urllib3==1.26.6  # for botocore, but conflicts with pysal, which can not be updated as it dropped 3.6
voluptuous==0.12.1
# pre-install misc datacube dependencies
bottleneck==1.3.2
ciso8601==2.1.3
jsonschema==3.2.0
lark-parser==0.11.1
psycopg2==2.8.6
setuptools-scm==6.0.1
sqlalchemy==1.3.22
toolz==0.11.1
# pre-install misc odc-tools dependencies
astropy==4.1
boltons==21.0.0
dataclasses==0.5
lmdb==1.2.1
thredds-crawler==1.5.4
zstandard==0.15.2
# pre-install eodatasets3 dependencies
cattrs==1.0.0
structlog==21.1.0

# Scientific Stack
dask==2.30.0
distributed==2.30.0
dask-image==0.6.0
dask-ml==1.9.0
msgpack==1.0.0
numba==0.53.1
numcodecs==0.8.0
numexpr==2.7.3
numexpr3==3.0.1a1
pandas==1.1.2
pathos==0.2.8
pillow==8.2.0
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
statsmodels==0.12.2
tensorflow==2.6.0
xarray==0.16.1
xgboost==1.4.2       # used by Dale's s2cloudmask
zarr==2.8.3
### plotting
bokeh==2.1.1
descartes==1.1.0
matplotlib==3.2.1
seaborn==0.11.1

# Geo stack
cligj==0.7.2
fiona==1.8.19
geohash2==1.1
geojson==2.5.0
geopandas==0.9.0
geopy==2.1.0
llvmlite==0.36.0
rasterio==1.2.6
rasterstats==0.15.0
requests==2.25.1
requests-oauthlib==1.3.0
rio-cogeo==2.3.0
Shapely==1.7.1
pyproj==2.6.1.post1
h5py==3.1.0
netcdf4==1.5.6
rtree==0.9.7
owslib==0.24.1
pandana==0.6.1
pyepsg==0.4.0
pysal==2.5.0
pysheds==0.2.7
python-geohash==0.8.5
cmocean==2.0
mapclassify==2.4.3
rioxarray==0.3.1
richdem==0.3.4
urbanaccess==0.2.2
