# jupyter things
autopep8==1.6.0
black==22.3.0
cognitojwt==1.4.1
jupyter==1.0.0
jupyterlab==3.4.3
jupyterlab-code-formatter==1.4.11
jupyterlab-code-snippets==2.1.0
jupyterlab-geojson==3.2.0
jupyterlab-git==0.37.1
jupyterlab-iframe==0.4.4
jupyterlab-widgets==1.1.0
jupyterlab-topbar==0.6.1
jupyterlab-logout==0.5.0
jupyterlab-system-monitor==0.8.0
jupyterhub==2.3.1
jupytext==1.13.8
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-nbextensions-configurator==0.4.1
jupyter-resource-usage==0.6.1
jupyter-server==1.17.1
jupyter-server-proxy==3.2.1
jupyter-ui-poll==0.2.1
ipycanvas==0.12.0
ipyevents==2.0.1
ipyfilechooser==0.6.0
ipyleaflet==0.16.0
ipython==8.4.0
ipywidgets==7.7.0
isort==5.10.1
line-profiler==3.5.1
nbdime==3.1.1
nbgitpuller==1.1.0
# nbresuse==0.4.0
mypy==0.961
prompt-toolkit==3.0.29
nbconvert==6.5.0
nbformat==5.4.0
nbval==0.9.6
sidecar==0.5.1
yapf==0.32.0
jedi==0.18.1
parso==0.8.3

# jupyter + matplotlib
# matplotlib itself is in requirements.txt as it's pulled in by other libs there
folium==0.12.1.post1
ipympl==0.9.1
graphviz==0.20
plotly==5.8.2
pydotplus==2.0.2
# jupyter + bokeh
Cartopy==0.20.2
dask-labextension==5.2.0
datashader==0.14.0
geoviews==1.9.5
holoviews==1.14.9
jupyter-bokeh==3.0.4
panel==0.13.1
pyviz-comms==2.2.0
# jupyterhub + dask
dask-gateway==2022.4.0
dask-gateway-server==2022.4.0
# jupyterlab + language packages
jupyterlab-language-pack-fr-FR==3.4.post1
