otps>=0.3.1
eodatasets3==0.21.1
rsgislib==4.1.95
s2cloudmask==0.1

# need to be installed after to override libs with non-gl ones
opencv-contrib-python==4.5.2.54
opencv-contrib-python-headless==4.5.2.54
opencv-python-headless==4.5.2.54
