# misc
aiobotocore
colorama
dill
docutils
cython
ffmpeg-python
param
pydash
pyyaml
pyrsistent
python-dateutil
ruamel.yaml
ruamel.yaml.clib
s3fs
tqdm
urllib3
voluptuous
# pre-install misc datacube dependencies
bottleneck
ciso8601
jsonschema
lark-parser
psycopg2
setuptools-scm
setuptools-scm
sqlalchemy
toolz
# pre-install misc odc-tools dependencies
astropy
boltons
dataclasses
lmdb
thredds-crawler
zstandard
# pre-install eodatasets3 dependencies
cattrs
structlog

# Scientific Stack
dask
distributed
dask-image
dask-ml
msgpack
numba
numexpr
numexpr3
numpy
pandas
pathos
Pillow
scikit-image
scikit-learn
scipy
statsmodels
tensorflow
xgboost       # used by Dale's s2cloudmask
xarray
zarr
### plotting
bokeh
descartes
matplotlib
seaborn

# Geo stack
cligj
fiona
geohash2
geojson
geopandas
geopy
GDAL
rasterio
rasterstats
rio-cogeo
Shapely
pyproj
h5py
netcdf4
rtree
owslib
pandana
pyepsg
pysal
pysheds
python-geohash
cmocean
mapclassify
rioxarray
richdem
urbanaccess

# TODO - ?
# https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp36-cp36m-linux_x86_64.whl
# https://github.com/ubarsc/rios/archive/rios-1.4.10.tar.gz
