cognitojwt
nbval
line-profiler
jupyterlab-logout
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
jupyterlab-code-snippets
jupyterlab-topbar-text
jupyterlab-logout
jupyterlab-theme-toggler

# ODC/DEA: these are installed in builder stage
otps
eodatasets3 >= 0.30.6  # min version required for ESRI/GDAL nodata fix

# Dale's s2cloudmask
#  https://github.com/daleroberts/s2cloudmask
s2cloudmask
# need to be installed after to override libs with non-gl ones
opencv-python-headless
opencv-contrib-python-headless

datacube[performance,s3] >= 1.8.19  # min version required for ESRI/GDAL nodata fix
odc-algo @ git+https://github.com/opendatacube/odc-algo@b8dcfce
odc-cloud[ASYNC]
odc-dscache
odc-io
odc-stac
odc-stats[ows]
odc-ui
odc-geo >= 0.4.8  # min version required for ESRI/GDAL nodata fix
dea-tools

thredds-crawler
hdstats==0.1.8.post1
hdmedians
datacube-stats
fc
--extra-index-url="https://packages.dea.ga.gov.au"
