# ODC/DEA: frequently changing
# bumps: 27-01-2020 update odc-tools
--extra-index-url="https://packages.dea.ga.gov.au"
datacube[performance,s3]>=1.8.4.dev
datacube-stats
datacube-wps
fc
odc_algo
odc_ui
odc_index
odc_aws
odc_geom
odc_io
odc_aio
odc_ppt
odc_dscache
odc_dtools
odc_stats
odc-apps-dc-tools
odc-apps-cloud
hdstats>=0.2.1 --no-binary=hdstats
