# jupyter things
autopep8
black
jupyter
jupyterlab
jupyterlab-code-formatter
jupyterlab_iframe
jupyterlab-git
jupyterhub
jupytext
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
jupyter-server-proxy
jupyter-ui-poll
ipycanvas
ipyevents
ipyfilechooser
ipyleaflet
ipython
ipywidgets
isort
line_profiler
nbdime
nbgitpuller
nbresuse
mypy
prompt-toolkit
nbconvert
nbformat
nbval
sidecar
yapf
# fix for auto-complete breaking with jedi 0.18
jedi
parso

# jupyter + matplotlib
# matplotlib itself is in requirements.txt as it's pulled in by other libs there
folium
ipympl
graphviz
plotly
pydotplus

# jupyter + bokeh
cartopy
dask-labextension
datashader
geoviews
holoviews
jupyter-bokeh
panel

# jupyterhub + dask
dask-gateway
dask-gateway-server
