# misc
aiobotocore[boto3,awscli]==1.1.2
docutils==0.15.2 # because of botocore
pyyaml==5.4
python-dateutil==2.8.0  # pinned because of pysal==2.2.0
colorama==0.4.3
cython
ruamel.yaml
ruamel.yaml.clib
pyrsistent
param
dill
ffmpeg-python
tqdm
voluptuous
pydash
s3fs
# pre-install misc datacube dependencies
jsonschema
ciso8601
psycopg2
sqlalchemy
toolz
lark-parser
setuptools_scm[toml]
bottleneck
# pre-install misc odc-tools dependencies
lmdb
zstandard
thredds-crawler
astropy
boltons
dataclasses
# pre-install eodatasets3 dependencies
cattrs
structlog

# Scientific Stack
dask[complete]==2.30.0
distributed==2.30.0
dask-image
dask-ml
tensorflow==2.3.1
scipy
xgboost       # used by Dale's s2cloudmask
pathos
scikit-image
scikit-learn
msgpack==1.0.0
numexpr
numexpr3==3.0.1a1
numba
statsmodels
Pillow
pandas==1.1.2
xarray==0.16.1
numpy
zarr
### plotting
bokeh==2.1.1
matplotlib==3.2.1
descartes
seaborn
https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp36-cp36m-linux_x86_64.whl

# Geo stack
geojson
geopy
fiona
rasterstats
geopandas
cligj
GDAL
rasterio
rio-cogeo
Shapely
pyproj
h5py
netcdf4
rtree
pandana
pysal==2.3.0
pyepsg
mapclassify
urbanaccess
pysheds
https://github.com/ubarsc/rios/archive/rios-1.4.10.tar.gz
owslib
rioxarray
python-geohash
geohash2
richdem
cmocean


--no-binary=aiohttp\
,cffi\
,cftime\
,cryptography\
,lxml\
,lmdb\
,numexpr\
,numexpr3\
,protobuf\
,pyzmq\
,regex\
,ruamel.yaml.clib\
,yarl\
,msgpack\
,multidict\
,statsmodels\
,typed_ast\
,tables\
,zstandard\
,richdem\
